*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh ;
    background-image: url(imagen1/fondo.jpg);
    background-size:cover ;
    background-position:  center -300px ;
    background-position:  top -100px ;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{

border: 2px solid rgba(255,255, 255, 0.2);
border-radius:10px; 
width: 90%;
max-width: 450px;
padding:40px 40px ;
color: #ffffff;
backdrop-filter: blur(5px);
box-shadow: 0px 0px 20px rgba(45, 52, 100, 0.844) ;
}

.container h1{
text-align: center;
margin-bottom: 35px;

}
form{
display: flex;
flex-direction: column;
gap: 30px;



}

form a{
text-decoration: none ;
color: rgb(255, 255, 255);
text-align: center;
}

/*AQUI ESTABA EL COLOR DE AJA */

.input-box{
    border: 2px solid rgba(244, 231, 246, 0.2) ;
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 40px;
    padding: 25px;

    
}



.input-box input {

    flex: 1;
    background-color: transparent;
    border:0;
    outline:0;
    font-size:16px; 
    color: #fffcfc;
    min-width:0 ;
}

.input-box input::placeholder {  /* edicion para pantalla de celular*/
    color: #ffffff; 
}


.remember-password{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;/* para cuando se empequeñe la pantalla se agregue el "olvidaste contraseña a debajo de "Recordarme"*/
    gap: 15px; /*para la distancia de arriba y abajo*/
    font-size: 14.5px ;
}

.remember-password label{
display: flex;
align-items: center;
}

.remember-password input {
    margin-right:5px;

}

form a:hover{
    text-decoration: underline;
}

.btn {
    border-radius: 30px;
    border: 0;
    outline: 0;
    font-size: 15px;
    font-weight: 100;
    padding: 10px;
    cursor: pointer;
}

.register{
    text-align: center;
    font-size: 15px;
}
.register a {
    margin: 9px;
}

























